*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    font-family: 'Poppins', sans-serif;
}
.main-container{
    background-image: url(images/astronomy-1867616_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */
/* .container{
    background-color: #fbf1f15d;
    width: 900px;
    height: 900px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: rgb(92, 51, 131);
    
/* } */
.container h1{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px double blueviolet;
}
.form-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0.5rem;
}
.form-container label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
.form-container input*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: 'Poppins', sans-serif;
}
.main-container{
    background-image: url(images/astronomy-1867616_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    background-color: rgba(255, 255, 255, 0.763);
    width: 900px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: rgb(92, 51, 131);
    color: blueviolet;
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
}
.form-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0.5rem;
}
.form-container label{
    display: block;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}
.form-container input{
    margin:0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    color: blueviolet;

}
.form-container input:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.form-container input::placeholder {
    width:60%;
    font-size: 1.5rem;
    color: blueviolet;
    font-family: 'Poppins', sans-serif;


}
.form-age label{
    display: block;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

.form-age input{
    margin-bottom:0.3rem;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: blueviolet;
}
.form-age input:hove{
    background-color: rgba(255, 255, 255, 0.7);
}
.form-age input::placeholder{
    font-size: 1.5rem;
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
}
.form-gender label{
    display: block;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

.form-gender select{
    margin-bottom:0.3rem;
    font-size: 1.3rem;
    padding: 10px;
    /* background-color: cadetblue; */
    background-color: rgba(255, 255, 255, 0.6);
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgba(238, 217, 217, 0.8);
    border-radius: 5px;
    width: 50%;

}
.form-option{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0.5rem;
}

.form-option label{
    display: block;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}
.form-option select{
    margin-bottom:0.3rem;
    font-size: 1.3rem;
    width: 50%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgba(238, 217, 217, 0.8);
    border-radius: 5px;
}
.form-recommend{
    display: flex;
    flex-direction: column;
}

.form-recommend label{
    font-size: 2rem;
}
.form-recommend span label{
    font-size: 1.3rem;
}

.form-recommend input{
    box-sizing: border-box;
    width: 5%;
    height: 20px;
    
}
.form-language{
    display: flex;
    flex-direction: column;

}

.form-language label{
    font-size: 2rem;
}

.form-language span label{
    font-size: 1.3rem;
}

.form-language input{
    box-sizing: border-box;
    width: 5%;
    height: 20px;
    
}
.form-language .other{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left:0.4rem;
}
.form-language .other input{
    box-sizing: border-box;
    width: 50%;
    height: 30px;
    font-size: 1.3rem;
    color: blueviolet;
    border-radius: 5px;
    border: none;
    padding:10px;
}

.form-language .other input:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.form-comment{
    display: flex;
    flex-direction: column;
}

.form-comment label{
    font-size: 2rem;
}
.form-comment textarea{
    box-sizing: border-box;
    width: 50%;
    height: 100px;
    font-size: 1.3rem;
    color: blueviolet;
    margin-top: 0.3rem;
    border-radius: 10px;
    border: none;
    margin-left: 2rem;
    padding: 10px;
}

.form-comment textarea:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.btn input{
    margin-top: 1rem;
    width:100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius:10px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: blueviolet;
}
.btn input:hover{
    background-color: rgb(92, 51, 131);
    color: red;
}
